<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- include, 렌더링할때 header 를 바꿔치기 함 -->
<head th:replace="fragments/header :: header">
    <title> Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p class="lead">회원 기능</p>
        <p>
            <!--
            /members/new 요청
            MemberController 에 의해 회원 가입 화면(createMemberForm.html) 화면으로 이동
            GET 방식
            -->
            <a class="btn btn-lg btn-dark" href="/members/new">회원 가입</a>

            <!--
            /members 요청, MemberController 의
            MemberController 에 의해 회원 목록 조회(memberList.html) 화면으로 이동
            GET 방식
            -->
            <a class="btn btn-lg btn-dark" href="/members">회원 목록</a>
        </p>

        <p class="lead">상품 기능</p>
        <p>
            <!--
            /items/new 요청
            ItemController 에 의해 상품 등록 화면(createItemForm.html) 으로 이동
            GET 방식
            -->
            <a class="btn btn-lg btn-dark" href="/items/new">상품 등록</a>

            <!--
            /items 요청
            ItemController 에 의해 상품 목록 화면(itemList 화면)으로 이동
            GET 방식
            -->
            <a class="btn btn-lg btn-dark" href="/items">상품 목록</a>
        </p>

        <p class="lead">주문 기능</p>
        <p>
            <!--
            /order 요청
            OrderController 에 의해 상품 주문 화면(orderForm.html) 로 이동
            GET 방식
            -->
            <a class="btn btn-lg btn-dark" href="/order">상품 주문</a>

            <!--
            /orders 요청
            OrderController 에 의해 주문 목록 화면(orderList.html) 로 이동
            GET 방식
            -->
            <a class="btn btn-lg btn-dark" href="/orders">주문 내역</a>
        </p>

    </div>

    <!-- include, 렌더링할때 footer 를 바꿔치기 함 -->
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>